---
import Layout from '../layouts/Layout.astro';
import Card from '../components/card';
import Header from '../components/header';
import Content from '../components/content';
import Register from '../components/register';
---

<Layout title="Wuppertal Fastener Days">
    <!-- <BackgroundImage className="-bottom-14 -top-36"> -->
    <main
        class='bg-[url("src/images/machine.svg")] bg-[center_top_2rem] bg-contain bg-no-repeat h-screen'
    >
        <Header client:visible />
        <div class="pt-2 md:pt-20">
            <Content />
        </div>
        <div class="mx-auto max-w-5xl px-4 mb-6 mt-6 block md:hidden">
            <Register client:visible />
        </div>
        <Card client:visible />
    </main>
    <!-- </BackgroundImage> -->
</Layout>
